@import url("https://red-hat-overpass-fonts.s3.amazonaws.com/overpass.css")l;

@custom-media --taller-and-thinner   (max-aspect-ratio: 4 / 10);

@custom-media --tall-and-thin        (max-aspect-ratio: 1 / 2);

@custom-media --wider-than-a-square  (min-aspect-ratio: 1 / 1);

@custom-media --wide-and-short       (min-aspect-ratio: 2 / 1);

@custom-media --wider-and-shorter    (min-aspect-ratio: 12 / 3);

@custom-media --even-wider-and-shorter    (min-aspect-ratio: 7 / 1);

:root {
  --darkTextColor: #333333;
  --lightTextColor: #FFFFFF;
  --silverColor: #FFFFFF;
  --silverDarkColor: #EAEAEA;
  --silverDarkerColor: #919191;
  --redColor: #CC0000;
  --redDarkColor: #820000;
  --redDarkerColor: #2C0000;
  --slateColor: #5E6A71;
  --slateDarkColor: #434D55;
  --slateDarkerColor: #0D1012;
  --lineHeight: 1.1em;
}

html {
  -webkit-font-smoothing: antialiased;
  font-family: 'Overpass', 'Helvetica', sans-serif;
  overflow: hidden !important;
}

body {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  overflow: hidden;
  margin: 0;
  color: var(--darkTextColor);
  background-color: var(--silverColor);
}


.background-image {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
}

.silver-theme {
  color: var(--darkTextColor);
  fill: var(--darkTextColor) !important;
}

.red-theme {
  color: var(--lightTextColor);
  fill: var(--lightTextColor) !important;
  .text-content {
    text-shadow: -1px 2px 4px rgba(0, 0, 0, 0.22);
  }
}

.slate-theme {
  color: var(--lightTextColor);
  fill: var(--lightTextColor) !important;
  .text-content {
    text-shadow: -1px 2px 4px rgba(0, 0, 0, 0.22);
  }
}

.red-theme .logotext.logotype {
  fill: #FFFFFF !important;
}

.slate-theme .logotext.logotype {
  fill: #FFFFFF !important;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

.title h1 {
  text-transform: uppercase;
  text-align: left;
  font-size: 3em;
  font-weight: 700;
}

p {
  text-align: left;
  margin-top: 1em;
  font-size: 1.4em;
  line-height: 1.6em;
}

.title-meta {
  margin-top: 4em;
}

.title-meta p {
  margin-top: 0;
  margin-bottom: 0;
}

.title-meta span {
  font-weight: 700;
}

.redhat-logo {
  width: 7em;
  margin-bottom: 4em;
}

.contents {
  color: #4c575e;
  padding: 0 4em !important;
  box-sizing: border-box;
}

li {
  text-align: left;
  font-weight: 700;
  font-size: 1em;
  letter-spacing: .05em;
  line-height: 1.25em;
  margin-bottom: 1em;
  text-transform: uppercase;
  list-style-type: none;
}

ol {
  counter-reset: section;
  margin-bottom: 5em;
}

ol li:before {
  font-weight: 400;
  display: inline-block;
  width: 1.75em;
  height: 1.75em;
  line-height: 2.05em;
  text-align: center;
  letter-spacing: 0;
  font-size: .75em;
  margin: 0 0.75em 0 -2.5em;
  float: left;
  text-align: center;
  box-shadow: inset 0 0 0 .1em;
  border-radius: 50%;
  margin-left: -2.5em;
  counter-increment: section;
  content: counters(section, ".") " ";
}

.blocks {
  color: #4c575e;
  padding: 0 4em !important;
  box-sizing: border-box;
}

.blocks h2 {
  text-transform: uppercase;
  font-size: 2.5em;
  font-weight: 300;
  text-align: left;
}

.blocks h3 {
  text-transform: uppercase;
  font-size: 2em;
  font-weight: 300;
  text-align: left;
}

.body-copy {
  margin-top: 10em;
  width: 60%;
  display: block;
}

.right-align {
  float:right;
}

.middle-align {
  margin: 10em auto 0 auto;
}

.blocks p {
  font-size: 1.1em;
  line-height: 1.5em;
}

/*artwork*/

#artwork, .js-artwork {
  position: absolute;
  top: -5em;
  bottom: 0em;
  left: -8em;
  right: -8em;
  overflow: hidden;
  margin: 0;
  z-index: -1; }
#artwork .artwork-inner, .js-artwork .artwork-inner {
  position: relative; }
#artwork .artwork-inner:before, .js-artwork .artwork-inner:before {
  content: '';
  display: block;
  padding-bottom: 100%; }
#artwork *, .js-artwork * {
  margin: 0; }

#artwork .artwork-shape, .js-artwork .artwork-shape {
  position: absolute;
  /*top: 0 !important;*/
  /*bottom: 0 !important;*/
  /*height: 100% !important;*/
  margin: 0;
  -webkit-transform: translateX(-100%) skewX(-45deg) !important;
  transform: translateX(-100%) skewX(-45deg) !important;
}

#artwork:after {
   content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  transform: scale(-1)
}

#artwork:before, .js-artwork:before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-image: radial-gradient(#FFFFFF 0%, #919191 96%);
  opacity: 0.4; }

main, #bottom-right-logo {
  z-index: 3; }

.artwork-pattern svg {
  stroke: #9fa9af; }

/* ———————— THEMES ———————— */

#artwork, .js-artwork {
  background-color: var(--silverColor); }
#artwork:before, .js-artwork:before {
  background-color: var(--silverColor); }
#artwork .artwork-shape, .js-artwork .artwork-shape {
  background-color: var(--silverDarkColor); }

.silver-artwork#artwork, .silver-artwork.js-artwork {
  background-color: var(--silverColor); }
.silver-artwork#artwork:before, .silver-artwork.js-artwork:before {
  background-image: radial-gradient(var(--silverColor) 0%, var(--silverDarkerColor) 96%); }
.silver-artwork#artwork:after, .silver-artwork.js-artwork:after {
  background-image: url(http://redhatbrand.github.io/RedHatPatterns/positioned-patterns/corporate/grey-light/positioned-08-04-alt-100.svg); opacity: 0.2;}
.silver-artwork#artwork .artwork-shape, .silver-artwork.js-artwork .artwork-shape {
  background-color: var(--silverDarkColor); }

.red-artwork#artwork, .red-artwork.js-artwork {
  background-color: var(--redColor); }
.red-artwork#artwork:before, .red-artwork.js-artwork:before {
  background-image: radial-gradient(var(--redColor) 0%, var(--redDarkerColor) 96%); }
.red-artwork#artwork:after, .red-artwork.js-artwork:after {
  background-image: url(http://redhatbrand.github.io/RedHatPatterns/positioned-patterns/corporate/red/positioned-08-04-alt-100.svg); }
.red-artwork#artwork .artwork-shape, .red-artwork.js-artwork .artwork-shape {
  background-color: var(--redDarkColor); }



.slate-artwork#artwork, .slate-artwork.js-artwork {
  background-color: var(--slateColor); }
.slate-artwork#artwork:before, .slate-artwork.js-artwork:before {
  background-image: radial-gradient(var(--slateColor) 0%, var(--slateDarkerColor) 96%); }
.slate-artwork#artwork:after, .slate-artwork.js-artwork:after {
  opacity: 0.2;
  background-image: url(http://redhatbrand.github.io/RedHatPatterns/positioned-patterns/corporate/grey-light/positioned-08-04-alt-100.svg); }
.slate-artwork#artwork .artwork-shape, .slate-artwork.js-artwork .artwork-shape {
  background-color: var(--slateDarkColor); }

